#department-field {
  text-transform: uppercase;
}

#department-field::placeholder {
  text-transform: capitalize;
}

.NewEmployeeForm {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  text-align: center;
}

.form {
  width: 50%;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 80%);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form input,
.form select,
.form button {
  width: 60%;
  background: inherit;
  border: 1px solid white;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  margin: 1rem auto;
}

button.add-employee-submit-btn {
  width: 20%;
  cursor: pointer;
}
