.tabs-header {
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tab-btns button {
  background: inherit;
  color: #efefef;
  border: none;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.tab-btns button:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.active {
  font-weight: 600;
  border-bottom: 2px solid !important;
}

input#search-field, button.search-btn {
  font-size: 1rem;
  padding: 0.4rem;
  background: inherit;
  border: none;
  color: white;
}

button.search-btn{
  cursor: pointer;
}

input#search-field:focus {
  outline: none;
}

.search-wrapper {
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}
